USE [master]
GO
/****** Object:  Database [DBWeb]    Script Date: 2021/1/25 下午 10:26:05 ******/
CREATE DATABASE [DBWeb]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'DBWeb', FILENAME = N'D:\Program Files\Microsoft SQL Server\MSSQL15.MSSQLSERVER\MSSQL\DATA\DBWeb.mdf' , SIZE = 8192KB , MAXSIZE = UNLIMITED, FILEGROWTH = 65536KB )
 LOG ON 
( NAME = N'DBWeb_log', FILENAME = N'D:\Program Files\Microsoft SQL Server\MSSQL15.MSSQLSERVER\MSSQL\DATA\DBWeb_log.ldf' , SIZE = 8192KB , MAXSIZE = 2048GB , FILEGROWTH = 65536KB )
 WITH CATALOG_COLLATION = DATABASE_DEFAULT
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [DBWeb].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [DBWeb]
GO
/****** Object:  Table [dbo].[TempleUser]    Script Date: 2021/1/25 下午 10:26:05 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[TempleUser](
	[Id] [bigint] IDENTITY(1,1) NOT NULL,
	[Account] [varchar](50) NULL,
	[Password] [varchar](50) NULL,
	[UserName] [nvarchar](50) NULL,
	[RoleId] [bigint] NULL,
	[URole] [varchar](20) NULL,
	[RoleNameId] [bigint] NULL,
	[URoleName] [nvarchar](30) NULL,
	[IsDelete] [int] NULL,
	[CreateDate] [datetime] NULL,
	[CreateName] [varchar](20) NULL,
	[UpdateDate] [datetime] NULL,
	[UpdateName] [varchar](20) NULL,
 CONSTRAINT [PK_TempleUser] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
SET IDENTITY_INSERT [dbo].[TempleUser] ON 

INSERT [dbo].[TempleUser] ([Id], [Account], [Password], [UserName], [RoleId], [URole], [RoleNameId], [URoleName], [IsDelete], [CreateDate], [CreateName], [UpdateDate], [UpdateName]) VALUES (1, N'alonso', N'777', N'陳民弦', 1, N'test', 1, N'test', 0, CAST(N'2020-09-13T00:00:00.000' AS DateTime), N'test', CAST(N'2020-09-13T00:00:00.000' AS DateTime), N'test')
SET IDENTITY_INSERT [dbo].[TempleUser] OFF
GO
USE [master]
GO
